

<div class="background-image">
  <div class="book">
    <ion-content [fullscreen]="true" #page class="ion-text-center">

      <ion-toolbar class="ion-padding-top">
        <h1 class="ion-text-center">
          ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>
      <ion-toolbar>
        <h4 class="ion-text-center">
          Información Adicional
        </h4>
      </ion-toolbar>
      
      <ion-item #itemCuenta>
        <ion-label class="font-size-16">Cuenta</ion-label>
        <ion-input [(ngModel)]="usuario.cuenta" placeholder="Ingrese su cuenta"></ion-input>
      </ion-item>

      <ion-item #itemNombre>
        <ion-label class="font-size-16">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item #itemApellido>
        <ion-label class="font-size-16">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item #ItemNivelEducacional>
        <ion-label class="font-size-16">Nivel Educacional</ion-label>
        <ion-select [(ngModel)]="usuario.nivelEducacional" interface="popover">
          <ion-select-option *ngFor="let nivel of nivelesEducacionales" [value]="nivel">
            {{ nivel.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      

      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">
              Nacimiento
            </td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento"
                [ngModelOptions]="{standalone: true}" 
                placeholder="dd/mm/yyyy"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>
      <ion-item>
        <ion-label class="font-size-16">Direccion</ion-label>
        <ion-input [(ngModel)]="usuario.direccion" placeholder="Ingrese su direccion"></ion-input>
      </ion-item>
      
      <ion-item #itemCorreo>
        <ion-label class="font-size-16">Correo Institucional</ion-label>
        <ion-input [(ngModel)]="usuario.correo" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <ion-item #itemContraseña>
        <ion-label class="font-size-16">Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-item #itemConfirmarContraseña>
        <ion-label class="font-size-16">Confirmar Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" placeholder="Confirme su contraseña"></ion-input>
      </ion-item>

      <ion-toolbar>
        <ion-button expand="full" shape="round" (click)="actualizarperfil()">
          <!-- <ion-icon slot="start" name="refresh"></ion-icon> -->
          Actualizar Datos
        </ion-button>
      </ion-toolbar>
      


      
    </ion-content>
  </div>
</div> 