.titulo-animado {
  animation: slide-in 1s forwards;
  position: relative;
  opacity: 0;

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.mensaje-bienvenida {
  animation: fade-in 1s forwards;
  opacity: 0;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.camara-qr {
  margin-top: 20px;
}