<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-container">

   Título animado
  <h1 class="titulo-animado">Sistema de Asistencia DUOC</h1>

   Mensaje de bienvenida 
  <h2 class="mensaje-bienvenida">¡Bienvenido, {{ usuarioNombre }}!</h2>

   Apartado para la cámara 
  <div class="camara-qr">
    <ion-button expand="full" (click)="abrirCamara()">Leer Código QR</ion-button>
  </div>

   Vinculo para cerrar sesión 
  <div class="ion-text-center">
    <a routerLink="/ingreso">Cerrar Sesión</a>
  </div>

</ion-content> -->