<ion-content>
  
  <ion-grid fixed *ngIf="miclase" class="usuario-content"style="color: white;">
    <ion-row>
      <ion-col size="4">Sede</ion-col>
      <ion-col size="7">{{ miclase.sede }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">codigo asignatura</ion-col>
      <ion-col size="7">{{ miclase.idAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Seccion</ion-col>
      <ion-col size="7">{{ miclase.seccion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">nombre asignatura</ion-col>
      <ion-col size="7">{{ miclase.nombreAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">nombre docente</ion-col>
      <ion-col size="7">{{ miclase.nombreProfesor }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">dia</ion-col>
      <ion-col size="7">{{ miclase.dia }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Bloque Inicio</ion-col>
      <ion-col size="7">{{ miclase.bloqueInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Bloque Termino</ion-col>
      <ion-col size="7">{{ miclase.bloqueTermino }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Hora Inicio</ion-col>
      <ion-col size="7">{{ miclase.horaInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Hora Fin</ion-col>
      <ion-col size="7">{{ miclase.horaFin }}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!miclase" class="center-frame">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" src="/assets/images/you-must-scan.png">
    </div>
  </div>

</ion-content>