

<div class="background-image">
  <div class="book">
    <ion-content [fullscreen]="true" #page class="ion-text-center">

      <ion-toolbar class="ion-padding-top">
        <h1 class="ion-text-center">
          ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>
      <ion-toolbar>
        <h4 class="ion-text-center">
          Información Adicional
        </h4>
      </ion-toolbar>
      
      <ion-item #itemCuenta>
        <ion-label class="font-size-16">{{ 'account' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.cuenta" placeholder="{{ 'enter_account' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #itemNombre>
        <ion-label class="font-size-16">{{ 'name' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="{{ 'enter_name' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #itemApellido>
        <ion-label class="font-size-16">{{ 'surname' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" placeholder="{{ 'enter_surname' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #ItemNivelEducacional>
        <ion-label class="font-size-16">{{ 'educational_level' | translate }}</ion-label>
        <ion-select [(ngModel)]="usuario.nivelEducacional" interface="popover">
          <ion-select-option *ngFor="let nivel of nivelesEducacionales" [value]="nivel">
            {{ nivel.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">{{ 'birthdate' | translate }}</td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento"
                [ngModelOptions]="{standalone: true}" 
                placeholder="{{ 'dd_mm_yyyy' | translate }}"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>
      
      <ion-item>
        <ion-label class="font-size-16">{{ 'address' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.direccion" placeholder="{{ 'enter_address' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label class="font-size-16">{{ 'secret_question' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.preguntaSecreta" placeholder="{{ 'enter_secret_question' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label class="font-size-16">{{ 'secret_answer' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.respuestaSecreta" placeholder="{{ 'enter_secret_answer' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #itemCorreo>
        <ion-label class="font-size-16">{{ 'institutional_email' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.correo" placeholder="{{ 'enter_email' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #itemContraseña>
        <ion-label class="font-size-16">{{ 'password' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.password" placeholder="{{ 'enter_password' | translate }}"></ion-input>
      </ion-item>
      
      <ion-item #itemConfirmarContraseña>
        <ion-label class="font-size-16">{{ 'confirm_password' | translate }}</ion-label>
        <ion-input [(ngModel)]="usuario.confirmarPassword" placeholder="{{ 'confirm_password' | translate }}"></ion-input>
      </ion-item>
      
      <ion-toolbar>
        <ion-button expand="full" shape="round" (click)="actualizarperfil()">
          {{ 'create_account' | translate }}
        </ion-button>
        <ion-button expand="full" shape="round" (click)="navegarIngresar()">
          {{ 'go_back_home' | translate }}
        </ion-button>
      </ion-toolbar>
      