<ion-header>
  <ion-toolbar class="toolbar-superior">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape">
      <h1 class="glow-text"> Sistema de Asistencia DUOC </h1>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar" class="enmarcar">

    <ion-card class="ion-text-center">
      
      <img alt="DUOC" src="../../../assets/images/sede_padre_alonso.jpg" class="foto-portada" />
    
      <ion-card-content>

        <ion-card-header>
          <ion-toolbar>
            <h1>Inicio de sesión</h1>
          </ion-toolbar>
        </ion-card-header>

        <ion-item>
          <ion-input [(ngModel)]="correo" 
              label="Cuenta" labelPlacement="floating"
              placeholder="Ej: atorres"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="password" 
              label="Contraseña" labelPlacement="floating" type="password"
              placeholder="Ej: 1234"></ion-input>
        </ion-item>

        <div class="ion-margin-top">
          <ion-button color="warning" shape="round" size="small" (click)="Ingresar()">
            Ingresar
          </ion-button>
        </div>    
      </ion-card-content>
    </ion-card>
  </div>
   <div class="ion-text-center">
        <ion-button (click)="navegarcorreo()"> Recuperar Contraseña</ion-button> 
    </div>

</ion-content>