ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya correctamente */
  height: 100vh; /* Altura del viewport */
  overflow: hidden; /* Evita que el contenido desborde */
}

.foto-portada {
  max-width: 100%;
  max-height: 40%; /* Ajusta según el diseño que desees */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

ion-card {
  height: auto; /* Permite que se ajuste automáticamente */
  max-height: 60%; /* Limita la altura del card */
}

.ion-text-center a {
  display: inline-block;
  margin: 5px 0; /* Ajusta los márgenes para evitar desplazamientos innecesarios */
}
